.dialogs {
    display: grid;
    grid-template-columns: 15.9fr 0.1fr 50fr;
    height: 100%;
}

.dialogs_items {
    padding-top: 15px;
    margin-right: 10px;
}

.dialog {
    border: 2px solid rgba(65, 77, 245, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
}

.dialog_link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.active {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.messages {
    padding: 20px;
    background-color:  rgb(161, 209, 253);
}

.message {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(65, 77, 245, 0.8);
    border-radius: 10px;
}
.line{
    border-left: 2px solid rgba(65, 77, 245, 0.8);
    height: 100%;
    max-width: 2px;
}