.dialogs {
    display: grid;
    grid-template-columns: 15.9fr 0.1fr 50fr;
    height: 100%;
}

.dialogs_items {
    padding-top: 15px;
    margin-right: 10px;
}

.messages {
    padding: 20px;
    background-color:  rgb(161, 209, 253);
}

