.messages {
    padding: 20px;
    background-color:  rgb(161, 209, 253);
}
.message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    width: fit-content; 
}