/* .profileInfo{

} */
.description_block{
    padding-left: 20px;
}
.ava{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}
.name{
    font-size: 20px;
    margin-bottom: 30px;
}
.aboutMe{
    font-size: 20px;
    font-weight: bold;
}